.footer {
  margin-top: 160px;
}

.footer_title {
  margin-top: 95px;
  margin-bottom: 27.5px;
  font-family: "InterRegular";
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 31px;

  font-feature-settings: "salt" on, "liga" off;

  color: #ffffff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_text {
  display: block;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15.4764px;
  line-height: 27px;
  color: #d9dbe1;
  margin-bottom: 13.5px;
  text-decoration: none;
}

#Features {
  display: inline-block;
}

.footer_logo {
  display: inline-block;
  margin-top: 80px;
}

.footer_descr {
}

.media_block {
  margin-top: 27px;
}

.margin-top-86 {
  margin-top: 86px;
}

.rights {
  margin-top: 26px;
  margin-bottom: 27px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15.4764px;
  line-height: 27px;
  /* identical to box height, or 171% */

  font-feature-settings: "salt" on, "liga" off;

  /* Text / Gray 300 */

  color: #d9dbe1;
}

.ocean_nft_logo {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 700;
  font-size: 19.8983px;
  line-height: 25px;

  color: #ffffff;
}

.footer_logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footer_logo_pos {
  margin-top: 95px;
}

.footer_descr {
  margin-top: 30px;
}

.rights_pos {
  display: flex;
  justify-content: space-between;
}

.rights {
  font-size: 15.4764px;
  line-height: 27px;
  font-feature-settings: "salt" on, "liga" off;
  color: #d9dbe1;
}

.margin-top-69 {
  margin-top: 69px;
}

.footer_list {
  li {
    margin-top: 13.5px;
  }
}

#Features {
  display: inline-block;
  margin-bottom: 0;
}
