.footer_title {
  margin-top: 95px;
  margin-bottom: 17.5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 19.8983px;
  line-height: 31px;
  /* identical to box height, or 156% */
  display: inline-block;
  font-feature-settings: "salt" on, "liga" off;

  /* Default / White */

  color: #ffffff;
}

.footer_text {
  display: block;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15.4764px;
  line-height: 27px;
  color: #d9dbe1;
  margin-bottom: 13.5px;
  text-decoration: none;
}

#Features {
  display: inline-block;
}

.footer_logo {
  display: inline-block;
  margin-top: 80px;
}

.footer_descr {
  margin-top: -95px;
}

.media_block {
  margin-top: 27px;
}

.margin-top-86 {
  margin-top: 86px;
}

.rights {
  margin-top: 26px;
  margin-bottom: 27px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15.4764px;
  line-height: 27px;
  /* identical to box height, or 171% */

  font-feature-settings: "salt" on, "liga" off;

  /* Text / Gray 300 */

  color: #d9dbe1;
}
