.header_logo_pos {
  margin-top: 24px !important;
  margin-bottom: 116px;
}

.ocean_nft_logo_second {
  color: #a69fb2;
}

.header_text {
  font-family: Orbitron;
  font-style: normal;
  font-weight: 400;
  font-size: 19.8983px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.6);
}

.no_underline {
  text-decoration: none;
}

.header_link_left {
  margin-left: 20%;
}

.header_link_top {
  margin-top: 24px;
}

.display-inline {
  display: inline;
}

.margin-left-45 {
  margin-left: 45px;
}

.center {
  margin: 0 auto;
}

.display-inline-block {
  display: inline-block;
}

.header_link_right {
  margin-right: 65px;
}

.burger_button {
  border: none;
  background: none;
}

.burger_items {
  text-align: center;
}

.mobile_smth_in_mask_position {
  display: none;
}

.author_block_pos_mobile {
  display: none;
}
