@media screen and (max-width: 1400px) {
  div.smth_in_mask_position {
    left: 65%;
    img {
      width: 350px;
    }
  }

  .explore_list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  button.explore_item_text {
    width: 351.12px;
  }

  .justify-content-center-1400 {
    display: flex;
    justify-content: center;
  }

  .author_block_pos.author_wrapper {
    left: 67%;
    top: 481.31px;
  }
  div.nft_bull_spec {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: flex-end;
  }
  div.nft_3d_spec {
    display: flex;

    flex-wrap: wrap;

    align-items: center;
    flex-direction: column;
    margin-top: 35px;
  }
  #specialP {
    margin-right: 190px;
  }

  .standing_girl_pos {
    display: flex;
    justify-content: center;
    margin: 0;
  }
}

@media screen and (max-width: 1200px) {
  #specialP {
    margin-right: 100px;
  }
  div.author_right {
    margin-left: 0px;
  }
  .mobile_smth_in_mask_position {
    display: flex;
    justify-content: center;
    margin-top: 60px;
  }

  .author_block_pos.author_wrapper {
    max-width: 300px;
    position: relative;
    top: -120px;
  }
  div.author_wrapper {
    background: url(../img/header/SmthInMaskAuthor.png) center no-repeat;
  }
  .none_1200 {
    display: none;
  }
  .info_block {
    display: flex;
    justify-content: space-between;
  }
  .info_block {
    flex-direction: column;
  }
  .brands_wrapper {
    flex-wrap: wrap;
    justify-content: space-evenly;
    img {
      margin-right: 15px;
    }
  }
  .brands_second {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .visible_1200_imp {
    display: initial !important;
  }
  .visible_1200 {
    display: inline-block;
  }
  .author_block_pos_mobile {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 120px;
  }
  .row_width {
    max-width: 300px;
    display: flex;
    height: 200px;
  }
  .justify-content-center-1200 {
    display: flex;
    justify-content: center;
  }
  .mobile_descr_pos {
    justify-content: space-around;
  }
  div.author_right_spec {
    margin-left: 12px;
  }
}

@media screen and (max-width: 992px) {
  #specialP {
    margin-right: 0px;
  }
  .header_link_right {
    margin-right: 25px;
  }
  .header_items {
    margin-right: 10px;
  }
  .margin-left-10_992 {
    margin-left: 10px;
  }
  .nft_mobile_explore {
    box-shadow: 0px 2.35945px 57.2166px rgba(255, 86, 246, 0.51);
    backdrop-filter: blur(113.253px);
    width: 133.31px;
    height: 34.21px;
    border-radius: 1.17972px;
    display: flex;
    justify-content: center;
    background: rgba(255, 86, 246, 0);
    border-radius: 2.21092px;
    border: 2px solid transparent;
    -o-border-image: linear-gradient(135deg, #3c79d4 20%, #ffa6fa 70%);
    border-image: linear-gradient(272.52deg, #ffa6fa 47.49%, #3c79d5 98.81%);
    border-image-slice: 1;
    border: 1.18px solid;
    color: white;
  }
  .nft_mobile_explore_pos {
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }
  .none_992 {
    display: none;
  }
  .swiper_visibility {
    display: initial;
  }
  button.explore_item_text {
    width: 330.12px;
  }
  .hidden_seller {
    max-height: 0px;
    max-width: 0px;
    visibility: hidden;
  }
  div.sellers_button_pos {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 769px) {
  .visible_769 {
    display: initial !important;
  }
  h1.discover_text {
    margin-top: -56px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 137.4%;
    color: #ffffff;
  }
  span.rainbow {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
  }

  p.discover_descr {
    font-family: "Rajdhani";
    font-style: normal;
    font-weight: 400;
    font-size: 26px;

    line-height: 23px;
    /* or 166% */

    color: #ffffff;
    margin-top: 40px;
  }
  button.explore_item_text {
    width: 250.12px;
  }
}

@media screen and (max-width: 768px) {
  .none_768 {
    display: none;
  }
  .visible_768 {
    display: inline-block !important;
  }
  .brands_wrapper {
    img {
      width: 200px;
    }
  }
  .main_menu {
    transform: translateY(-80%) !important;
    transition: 2s;
  }
  .mobile_descr_pos {
    justify-content: space-evenly;
  }
  .nft_buttons {
    margin-bottom: 15px;
  }
  li.explore_item.margin-right-33 {
    margin-right: 27px;
  }
  button.explore_item_text {
    width: 215.12px;
  }
}

@media screen and (max-width: 576px) {
  div.brands_wrapper {
    justify-content: space-evenly;
    img {
      width: 140px;
    }
  }
  .mobile_smth_in_mask_position {
    margin-top: 63px;
    display: flex;
    justify-content: center;
    img {
      width: 298px;
    }
  }
  .author_block_pos_mobile {
    position: relative;
    bottom: 100px;
  }
  h1.discover_text {
    font-size: 42px;
    width: 300px;
  }
  span.rainbow {
    font-size: 42px;
  }

  p.discover_descr {
    font-weight: 400;
    font-size: 14px;
    margin: auto;
    width: 300px;
    margin-top: 40px;
  }

  .justify-content-center-576 {
    display: flex;
    justify-content: center;
  }
  .none_576 {
    display: none;
  }
  div.descr_info {
    margin-top: 41px;
  }
  p.info_num {
    margin-top: 0px;
  }
  p.info_descr {
    margin-top: -18.1px;
  }
  .none_576_imp {
    display: none !important;
  }
  div.brands_wrapper {
    margin-top: 45px;
  }
  .common_font {
    font-size: 16px;
  }
  button.explore_item_text {
    width: 170.12px;
    font-size: 10px;
    height: 40px;
  }
  p.font_8 {
    font-size: 8px;
  }
  .small_arrow {
    display: initial;
  }
  .collection_view_pos {
    display: flex;
    align-items: baseline;
  }
  .collection_view_spec {
    display: flex;
    width: 400px;
    text-decoration: none;
  }
  .explore_item {
    margin: 17px 0 0;
  }
  .standing_girl_pos {
    width: 100%;
    height: 347.72px;
  }
  .seller_name {
    font-size: 16.8391px;
  }
  .top_author_tag {
    font-size: 13.9587px;
  }
  .author_statistic_text {
    font-size: 21.9417px;
  }
  .author_statistic_descr {
    font-size: 13.7136px;
  }
  .author_button_wrapper button {
    width: 162.6px;
    height: 35.21px;
  }
  .top_author_rectangle {
    height: 250px;
    width: 300px;
  }
  .author_photo {
    margin-top: -55px;
    img {
      width: 100px;
    }
  }
  img.author_small_background {
    width: 300px;
  }
  .seller_wrapper {
    width: 316.8px;
    height: 89.75px;
  }
  .seller_photo {
    width: 50.63px;
    height: 50.63px;
  }
  .sellers_list_title {
    font-size: 19.2314px;
  }
  .sellers_list_descr {
    font-size: 14px;
  }
  .seller_num {
    font-size: 13.8072px;
  }
  .seller_full_name {
    font-size: 13px;
  }
  .seller_id {
    font-size: 9.97186px;
  }
  .seller_button {
    width: 72.92px;
    font-size: 10px;
  }
}
@media screen and (max-width: 476px) {
  p.info_num {
    font-size: 18px;
  }
  p.info_descr {
    font-size: 12px;
  }
  br.visible-476 {
    display: initial;
  }
  .brands_wrapper {
    justify-content: space-evenly;
    img {
      width: 140px;
    }
  }
}

@media screen and (max-width: 400px) {
  div.brands_wrapper {
    img {
      width: 120px;
    }
  }
  .rainbow_text {
    font-size: 12px;
  }
  .nft_container img[alt="eth"],
  .nft_container img[alt="bull_block"],
  .nft_container img[alt="3dart"] {
    width: 300px;
  }
  div.author_wrapper_rectangle {
    width: 297px;
  }
  p.smth_name_l {
    font-size: 13px;
    margin-top: 0px;
  }
  p.author_tag_l {
    font-size: 12px;
  }
  p.reserve_price_l {
    font-size: 11.4001px;
  }
  p.eth_price_l {
    font-size: 10px;
    margin-top: 0px;
  }
  button.place_bid_pos_nft {
    height: 33.96px;
  }
  button.rainbow_button {
    font-size: 15.6873px;
  }
  button.explore_item_text {
    width: 130.12px;
  }
  p.collection_view_spec {
    width: 300px;
  }
}
