@import "../../node_modules/bootstrap/scss/bootstrap";
@import "fonts";
@import "header";
@import "topNft";
@import "sellers_show";
@import "sellers_list";
@import "whatIsNft";
@import "footer";
@import "hamburger";
@import "discover";
@import "explore_collection";
@import "media";
@import "../../node_modules/swiper/swiper-bundle.css";

body {
  background: #20083b;
}

* {
  box-sizing: border-box;
}
span {
  margin: 0;
  padding: 0;
}

ul,
ol {
  padding: 0;
  list-style-type: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

.none {
  display: none;
}

// * {
//   border: 1px solid red;
//   box-sizing: border-box;
// }
